<html>
  <head>
    <title>WideBot Classifer API</title>
  </head>
  <body>
    <h2>WideBot Classifier API</h2>
    <p>
      If you feel lost please check
      <a href="https://widebot-classifier.herokuapp.com/api/documentation">
        the documentation
      </a>
      :).
    </p>
    <p>
      Or you can try this request example:<br />
      <code style="background-color: #ebedef;">
        https://widebot-classifier.herokuapp.com/api?variable1=b&variable2=23,58&variable3=0,000179&variable4=u&variable5=g&variable6=c&variable7=v&variable8=0,54&variable9=f&variable10=f&variable11=0&variable12=t&variable13=g&variable14=136&variable15=1&variable17=1360000&variable19=0
      </code>
    </p>
  </body>
</html>
