<html>
  <head>
    <title>WideBot Binary Classifer API</title>
  </head>
  <body>
    <h2 style="color: orange;"><em>WideBot Binary Classifier API</em></h2>
    <h3>Example of usage:</h3>
    <blockquote>
      <code style="background-color: #ebedef;">
        https://widebot-classifier.herokuapp.com//api?variable1=b&variable2=23,58&variable3=0,000179&variable4=u&variable5=g&variable6=c&variable7=v&variable8=0,54&variable9=f&variable10=f&variable11=0&variable12=t&variable13=g&variable14=136&variable15=1&variable17=1360000&variable19=0
      </code>
    </blockquote>
    <h3>Response:</h3>
    <blockquote>
      <code style="background-color: #ebedef;">
        { "prediction": "no." }
      </code>
    </blockquote>
  </body>
</html>
